<%= render 'shared/page_title', title: @recipe.name %>

<div class="row">
  <div class="col-md-4 pull-right center">
    <%= link_to gravatar_for(@recipe.chef, size: 200), chef_path(@recipe.chef) %>
    <p>
      <h5> Brought to you by: <%= @recipe.chef.chefname %></h5>
    </p>
  </div>
  <div class="col-md-8">
    <% if logged_in? and (@recipe.chef == current_user || current_user.admin?) %>
      <%= link_to "Edit this Recipe", edit_recipe_path(@recipe), class: "btn btn-success pull-right" %>
    <% end %>
    <% if logged_in? and current_user.admin? %>
      <%= link_to "Delete Recipe", @recipe, method: :delete, data: {confirm: "Are you sure?" } %>
    <% end %>
    <h3><%= @recipe.summary %></h3>
    <div class="show_recipe">
        <%= image_tag(@recipe.picture.url, class: "gravatar") if @recipe.picture? %>
    </div>
    <div class="well">
      <% if @recipe.styles.any? %>
        <p>Styles: <%= render @recipe.styles %></p>
      <% end %>
      <% if @recipe.ingredients.any? %>
        <p>Ingredients: <%= render @recipe.ingredients %></p>
      <% end %>
      <p>
        <strong>Steps:</strong>
      </p>
      <%= simple_format(@recipe.description) %>
      <div class="pull-right">
        <%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= @recipe.thumbs_up_total %>
        <% end %> &nbsp&nbsp&nbsp&nbsp
        <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= @recipe.thumbs_down_total %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="col-md-8">
  
<h3><strong>Reviews</strong></h3>
  
  <div class="col-md-10">
    <% if @recipe.reviews.any? %>
      <% @recipe.reviews.persisted.each do |review| %>
        <div class="review-body">
          <%=review.body %>
        </div>
        <div class="review-time">
          <%= time_ago_in_words(review.created_at) %>
          ago by <%= review.chef.chefname %>
        </div>
        <hr>
      <% end %>
    <% else %>
      <p>There are no reviews for this recipe.</p>
    <% end %>
  </div>
</div>

<div class"col-md-6">
    <%= form_for [@recipe, @review], :html => {class: "form-horizontal", role: "form"} do |f| %>
      <% if @review.errors.any? %>
        <div class="panel panel-danger col-md-offset-1">
          <div class="panel-heading">
            <h2 class="panel-title">
              <%= pluralize(@review.errors.count, "error") %>
              prohibited this review from being saved:
            </h2>
            <div class="panel-body">
              <ul>
                <%= @review.errors.full_messages.each do |msg| %>
                <li><=% msg %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
      
      <div class="form-group">
        <div class="col-md-8">
          <%= f.label :body, 'Add A New Review:' %>
        </div>
        <div class="col-md-8">
          <%= f.text_area :body, rows: 10, class: 'form-control', placeholder: 'Your review...' %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-md-8">
          <%= f.submit "Add Review", class: 'btn btn-success btn-small btn-small' %>
        </div>
      </div>
    <% end %>
</div>

<h5><%= link_to "Return to Recipes Listing", recipes_path, class: "btn btn-warning btn-small" %> </h5>
